*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', 'sans-serif';
}


.text-title {
    margin-left: -20px;
    .welcome {
        margin-left: -110px;
    }
}